body, html {
  height: 100%;
}
body {
  font-size: 14px;
  font-weight: 400;
  color: $colorText;
  font-family: 'Quicksand', sans-serif;
  padding-top: 60px;
  background-color: $colorDefault;
}

a {
  background-color: transparent;
  color: $colorPrimary;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.btn-primary {
  color: #fff !important;
  background-color: $colorPrimary;
  background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(171,142,205,0)),color-stop(1,#ab8ecd));
  background-image: -o-linear-gradient(left top,rgba(171,142,205,0) 0,#ab8ecd 100%);
  background-image: -moz-linear-gradient(left top,rgba(171,142,205,0) 0,#ab8ecd 100%);
  background-image: -webkit-linear-gradient(left top,rgba(171,142,205,0) 0,#ab8ecd 100%);
  background-image: -ms-linear-gradient(left top,rgba(171,142,205,0) 0,#ab8ecd 100%);
  background-image: linear-gradient(to left top,rgba(171,142,205,0) 0,#ab8ecd 100%);
  border: none;

  &:focus, &.focus {
    outline: none;
    box-shadow: none;
  }
  &:active:focus {
    box-shadow: none;
  }
  &:not(:disabled):not(.disabled) {
    &.active:focus {
      box-shadow: none;
    }
    &:active {
      &:focus {
        box-shadow: none;
      }
      color: #fff !important;
      background-color: $colorPrimary;
    }
  }
}
