@import '../../styles/_variables';

.main-wrapper {
  padding: 0;
  .banner {
    width: 100%;
    min-height: 300px;
    background-image: url('../../assets/images/home_page_banner.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -2;

    .overlay-texture {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        content: '';
        background-color: rgba(20, 19, 20, 0.45);
      }
    }
  }
}
